.eb-question-view-edit-term-word{
    padding: 5px;
    font-size: smaller;

}

.eb-question-view-edit-term-direction-green{
    color: green;
    border: 1px solid green;
    margin-right: 8px;
    margin-left: 8px;
}

.eb-question-view-edit-term-direction-red{
    color: red;
    border: 1px solid red;
    margin-right: 8px;
    margin-left: 8px;

}

.eb-question-add-cv-image-container{
    width: 40vw;
    height: 20vw;
}

.eb-question-add-cv-image-inside{
    width: 39vw;
    height: 19vw;
    object-fit: contain;
}
