.lod-edit-view-element{
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0.25em;
    padding: 0.25vw;
    margin-bottom: 1vh;
}

.lod-edit-view-element-internal{
    padding: 0.25vw;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.lod-edit-view-element-code{
    margin-bottom: 1vh;
    color: gray;
    width: fit-content;
}

.lod-edit-view-element-code:hover{
    color: blue;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    border-radius: 0.25em;
    background-color: whitesmoke;
    cursor: pointer;
}

.lod-edit-view-element-used-questions:hover{
    color: blue;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    border-radius: 0.25em;
    background-color: whitesmoke;
    cursor: pointer;
    width: fit-content;
}