.user-profile-area{
    width: 100%;    
}

.user-profile-picture{
    width: 8vw;
    height:  8vw;
    object-fit: 'contain'
}

.user-profile-name{
    font-size: 1.25em;
    font-weight: bold;
}

.user-profile-card{
    width: 70vw;
}

.ant-dropdown-trigger{
 cursor: pointer;
}

.user-list-table{
    width: 100%;
}

.user-list-profile-picture{
    width: 15vh;
    height: 15vh;
    object-fit: contain;
}

.settings-list:hover{
    background-color: whitesmoke;
    border-radius: 0.5em;
}

.settings-icon{
    padding: 0.25vmin;
}

.user-profile-picture-uploader{
    width: 35vh;
    height: 35vh;
}

.new-profile-picture{
    width: 32vh;
    height: 32vh;
    object-fit: contain;
}

.linked-keys-container{
    width: 15vw;
}

.key-display-row{
    margin-bottom: 1vh;
}

.key-display-container{
    background-color: whitesmoke;
}

.switch-to-key-button{
    cursor: pointer;
}