.loading-section{
    width: 100%;
    height: 20vh;
    background-color: whitesmoke;
    margin-top: 2vh;
}

.course-img{
    width: 100%;
    height: 13vmin;
    object-fit: contain;
}

.course-card{
    background-color: rgb(252, 252, 252);
    border: 1px #F0F0F0 solid;
    border-radius: 0.5em;
}

.course-card-internal{
    margin: 4px;
}

.course-title-view{
    color: #0099cc;
    font-size: x-large;
    font-weight: 500;
}

.map-box{
    padding: 0px 0;
    background-color: rgb(253, 253, 253);
    border: 1px #F0F0F0 solid;
    border-radius: 0.5em;
}

.map-box-internal{
    margin: 0.5vmin;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.map-index-section{
    width: 5%;
    text-align: center;
}

.map-info-section{
    width: 90%;
}

.map-action-section{
    margin-right: 2%;
}

.map-image-small{
    width: 12vw;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


p{
    margin: 0;
}